<h1>Editing Subcategory</h1>

<%= render 'updateform', subcategory: @subcategory %>

<br>
<%= link_to 'Show', @subcategory , class:"btn btn-secondary"%>
<%= link_to 'Back', subcategories_path, class:"btn btn-secondary" %>
