<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<br>
<%= link_to 'Show', @category , class:"btn btn-secondary"%> 
<%= link_to 'Back', categories_path, class:"btn btn-secondary" %>
