<h1>Editing Transaction</h1>

<%= render 'updateform', transaction: @transaction %>
<br>
<%= link_to 'Show', @transaction , class:"btn btn-secondary"%> 
<%= link_to 'Back', transactions_path, class:"btn btn-secondary" %>
